button.enabled {
  background-color: blue;
  color: white;
}

button.disabled {
  background-color: lightblue;
  color: blue;
}

.password-input {
  display: flex;
  align-items: center;
}

.password-input input {
  flex: 0.9;
  padding-right: 40px;
}

.password-toggle {
  cursor: pointer;
  margin-left: -35px;
}
.form-control{
  width: 95%;
}
